<!DOCTYPE html>
<html>
<head>
	<title>Home Hotel</title>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<header class="header">			
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="#">KINTAMANI</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link" href="#">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Facilitie</a>
		      </li>		      
		      <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Destination
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="#">Bali</a>
			        <a class="dropdown-item" href="#">Singapore</a>
			        <a class="dropdown-item" href="#">Jepang</a>
			      </div>
			  </li>
			  <li class="nav-item">
		        <a class="nav-link" href="#">About Us</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		
</header>
<body>
 	<div id="app">
 		<div id="carouselExampleIndicators" class="carousel slide relative" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img class="d-block w-100" src="assets/image/1.jpg" alt="First slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="assets/image/2.jpg" alt="Second slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="assets/image/3.jpg" alt="Third slide">
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>

			<div class="konten">
		    <h2>Welcome Now Showing</h2>
		    </div>
		    <div class="col-md-12">
			<div class="row" style="margin-top: 15%">
				<div id="wrapper" v-for="mvie in movie">
			      <img :src="mvie.img"/>
			          <h1>{{mvie.title}}</h1>
			      <div class="overlay"></div>
			      <div class="btn">
			          <a href="detail.html">Get Detail</a>
			      </div>
			      <div class="content">
			          <p>{{mvie.deskripsi}}</p>
			      </div>
			    </div>		    
			</div>
			</div>

		<div class="spinner-grow text-primary" role="status" style="margin-left:43%">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-secondary" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-success" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-danger" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-warning" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-info" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		
		 <div class="konten">
		    <h2>OUR FACILITIE</h2>
		 </div>
                    
                    	<div class="col-md-12">
			<div class="row" >
				<div class="wrapper" v-for="item in facilitie">
			      <div class="hovereffect">
        			<img class="img-responsive" :src="item.img" alt="">
            		<div class="overlay">
					<p>
						<h2><a href="detail.html">{{item.a}}</a></h2>
						<p>{{item.deskripsi}}</p>
					</p>
            		</div>
    			</div>
			    </div>		    
			</div>
		</div>
                </div>
			<div class="footer">
        		<div class="row">
        		<div class="col-sm-2 footlink">
                	<ul>
                		<li></li>
                		<li>
                			<a class="footHd">ABOUT KINTAMANI</a>
                			<ul>
                				<li>
                					<a href="#">Our Story</a>
                				</li>
                				<li>
                					<a href="#">Press Room</a>
                				</li>
                				<li>
                					<a href="#">Careear</a>
                				</li>
                			</ul>
                		</li>
                	</ul>
				</div>
				<div class="col-sm-2 footlink">
                	<ul>
                		<li></li>
                		<li>
                			<a class="footHd">HELP INFO</a>
                			<ul>
                				<li>
                					<a href="#">FAQ</a>
                				</li>
                				<li>
                					<a href="#">Terms of Service</a>
                				</li>
                				<li>
                					<a href="#">Privacy Policy</a>
                				</li>
                				<li>
                					<a href="#">Cotact Us</a>
                				</li>
                			</ul>
                		</li>
                	</ul>
				</div>
				<div class="col-sm-2 footlink">
                	<ul>
                		<li></li>
                		<li>
                			<a class="footHd">MARKETING</a>
                			<ul>
                				<li>
                					<a href="#">News & Promotions</a>
                				</li>
                				<li>
                					<a href="#">Corporate Sales</a>
                				</li>
                				<li>
                					<a href="#">Advertise with Us</a>
                				</li>
                				<li>
                					<a href="#">Cotact Us</a>
                				</li>
                			</ul>
                		</li>
                	</ul>
				</div>
				<div class="col-sm-2 footlink">
                	<ul>
                		<li></li>
                		<li>
                			<a class="footHd">LOCATION</a>
                			<ul>
                				<li>
                					<a href="#">Ultra XD</a>
                				</li>
                				<li>
                					<a href="#">Regular</a>
                				</li>
                				<li>
                					<a href="#">Regular 2D</a>
                				</li>
                				
                			</ul>
                		</li>
                	</ul>
				</div>
				<div class="col-sm-2 footlink">
                	<ul>
                		<li></li>
                		<li>
                			<a class="footHd">Connect with us</a>
                			<ul>
                				<li>
                					<img src="assets/image/facebook.png">
                				</li>
                				<li>
                					<img src="assets/image/whatsapp.png">
                				</li>
                				<li>
                					<img src="assets/image/instagram.png">
                				</li>
                				<li>
                					<img src="assets/image/facebook.png">
                				</li>
                			</ul>
                		</li>
                	</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href=""></p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Affinia</a></p>
				</div>
        	</div>
        	</div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
		new Vue({
		el: '#app',
		data:{
			movie:[
			{id:"1",title: "Kayana Resort", deskripsi:"hotel ternyaman di Bali",img:'assets/image/1.jpg'},
			{id:"2",title: "Anvanya Resort", deskripsi:"hotel ternyaman di Bali",img:'assets/image/2.jpg'},
			{id:"3",title: "Samaya Resort", deskripsi:"hotel ternyaman di Bali",img:'assets/image/3.jpg'},
			],
			facilitie:[
			{id:"1",a:"View of beach",img:'assets/image/4.jpg',deskripsi:"hotel ternyaman di Bali"},
			{id:"2", a:"Rest Room",img:'assets/image/6.jpg',deskripsi:"hotel ternyaman di Bali"},
			{id:"3",a:"Swimmingpol",img:'assets/image/5.jpg',deskripsi:"hotel ternyaman di Bali"},
			{id:"4",a:"Restaurant",img:'assets/image/7.jpg',deskripsi:"hotel ternyaman di Bali"},
			],
			location:[
			{id:"1",title: "Malang", address: "matos",street:"Jl pengangsaan Barat 45"},
			{id:"2",title: "Surabaya",address: "pakuwon",street:"Jl pengangsaan Barat 45"},
			{id:"3",title: "Jakarta", address: "Grand Indonesia",street:"Jl pengangsaan Barat 45"},
			{id:"4",title: "Medan", address: "Medan Square",street:"Jl pengangsaan Barat 45"},
			],
		},

	});
</script>
</html>