@import "base/variables";
@import "layout/header";
@import "page/static";
@import "page/detail";
@import "page/footer";


body{
    width: auto;
    height: auto;
    position: relative;
}
#wrapper{
    position: relative;
    margin: 10%;
    margin-top: 15%;
    background-color: #f0f0f0;
    width:$primary-width-content;
    height: auto;
    align-content: center;
}
.carousel{
    width: $primary-width;
    height: $primary-height;
    position: relative;
    img{
        height: $image-height;
    }
}
.content{
    width:$primary-width-content;
    background-color: bisque;
    position: relative;
    height: auto;
    
}
.upper{
    width: $primary-width-content;
    background-color: 	#D2691E;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    .upper_title{
        width: 25%;
        background-color: $white;
    }
    .col-sm-4{
        background-color: #DEB887;
    }
    .col-sm-7{
        font-family: Georgia,Cambria;
        font-style: italic;
    }
}
h4{
    font-family:garamond-premier-pro-display;
    font-size:$primary-font-size; 
}
.konten{
    h2{
        text-align: center;
        color:$black;
    }
}
.row{
    margin-top:50px;
    padding: 10px;
    width:100%; 
//    margin-left: 2%;
    card{
        align-content: center;
        text-align: center;
    }
}
#wrapper {
    position: relative;
    width: 400px;
    height: auto;
    margin: auto;
    border: 2px solid #E91E63;
    

.overlay {
    transition: background 0.5s ease;
}
}
#wrapper:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}
img {
    width: 400px;
//    border-radius: 25px 25px 0 0;
}
h1 {
    position: absolute;
    width: 400px;
    left: 0;
    top: 120px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}
.content {
    margin-top: -21px;
    padding: 3px 0;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #E91E63;
}
.content p {
    border-radius: 50px;
    margin-top:20px;
    background-color: white;
    color: #E91E63;
    line-height: 36px;
}
#wrapper:hover h1 {
      top: 90px;
}
.btn {
    position: absolute;
    width: 400px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.btn a:hover {
    background-color: #E91E63;
    color: white;
    opacity: 0.7;
}
.btn a {
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    z-index: 1;
    border-radius: 50px;
}
#wrapper:hover .btn {
      opacity: 1;
}

//overlay text
.wrapper {
    position: relative;
    width: 200px;
    height: 300px;
    margin: auto;
    border: 2px solid #E91E63;
}
.hovereffect {
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
    float: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
    float: left;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: crimson;
  position: relative;
  font-size: 27px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
//footer

