//color
$white:#fff;
$black:#000000;
$primary-color:#ff6347;
$font-color:#787878;

//font
$primary-font:'Monserrat',Sans-serif;
$primary-font-size:14px;

//body
$default-font:$primary-font;
$default-color:$black;

//typgrap


