
body{
    width: auto;
    height: auto;
    position: relative;
}
.content{
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 600px;
    }
    p{
        color: black;
    }
    
}
.layout-center{
    width: 100%;
    height: auto;
    background-color:gainsboro;
    position: relative;
    h2{
        color: green;
        font-family: futura-pt;
        padding: 10px;
    }
    content-down{
        h2{
            color: black;
        }
    }
    img{
        width: 600px;
        height: 400px;
        border: 3px;
        border-radius: 10px;
    }
    p{
        color: black;
    }
}
.footer{
    border-top: 3px solid #C25219;
    margin-top: 2%;
    padding: 20px;
    position: relative;
    .footlink{
        margin: 0;
        padding: 0;
        padding-top: 0px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        ul{
            list-style: none;
        li{
            a{
                color: #C25219;
                font-size: 18px;
                display: block;
            }
            ul{
                li{
                    a{
                        color:grey;
                        margin-left:-35px;
                        text-align: left;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        float:left;
                    }
                }
            }
        }
        }
        
    }
    
}