.footer{
    border-top: 3px solid #C25219;
    margin-top: 2%;
    padding: 20px;
    position: absolute;
    .footlink{
        margin: 0;
        padding: 0;
        padding-top: 0px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        ul{
            list-style: none;
        li{
            a{
                color: #C25219;
                font-size: 18px;
                display: block;
            }
            ul{
                li{
                    a{
                        color:grey;
                        margin-left:-35px;
                        text-align: left;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        float:left;
                    }
                }
            }
        }
        }
        
    }
    
}